# Run `cp bashrc_local.example .bashrc_local` and edit the file to your liking

# Homebrew
export PATH="/opt/homebrew/bin:$PATH"
# Laravel Herd
export PATH="/Users/gilbitron/Library/Application Support/Herd/bin:$PATH"
# Python
export PATH=$(brew --prefix python)"/libexec/bin:$PATH"
# MySQL
export PATH=$(brew --prefix mysql-client)"/bin:$PATH"
# Composer
export PATH="$HOME/.composer/vendor/bin:$PATH"
